<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module">
        <h4>Subscribe</h4>
        <ol class="list-unstyled">
            <li>
                <a href="https://feeds.feedburner.com/xenoterracide" rel="alternate" type="application/rss+xml">rss</a>
            </li>
            <li>
                <a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=1820381&amp;loc=en_US" rel="alternate">email</a>
            </li>
        </ol>
    </div>
</div>
