<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
    <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" crossorigin="anonymous">

    {{ template "_internal/google_analytics_async.html" . }}
</head>
<body>
<section id="main">

    <div>
        <h1 id="title">{{ .Title }}</h1>
        {{ partial "404-custom.html" .Site }}
    </div>
</section>
</body>
</html>
